################################
# IGNORING DOT FILES           #
################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.~lock.*
.buildpath
.idea
.project
.settings
.env
/.idea
/.vagrant

################################
# IGNORING FILES               #
################################
composer.lock
ehthumbs.db
Thumbs.db
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

################################
# IGNORING FOLDERS             #
################################
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

################################
# IGNORING OTHERS...           #
################################
build/
nbproject